body{
    background-color: #ffffb3;
}

.form-style-2{
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}



.form-style-2 input.input-field,
.form-style-2 button{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}
.field-long{
    float: right;
}

.div_button{
    text-align: center;
}


.fieldset{
    border: 1px solid grey;
    width: 400px;
    margin:auto;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 20px;  
}

.text{
    font-weight: bold;
    column-gap: 20px;
}


.form-style-2 button:hover{
    background: #EA7B00;
    color: #fff;
}