
.content{
    border: 9px solid black;
    background-color: black;
    border-radius: 8px;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    height: 395px;
}

.tab-content{
    height: 350px;
    border-radius: 0px 8px 8px 8px;
    margin: 0px 5px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    
}

.tab{
    display: inline-block;
    border-radius: 4px 4px 0px 0px;
    background-color: rgb(54, 131, 212);
    color: white;
    border: none;
    position: relative;
    left: 5px;
    height: 25px;
}

.img{
    float:left;
}

.form-horizontal{
    align-items: center;
    display: flex;
    justify-content: center;
   
}


.loginFooter {
    color: red;
}

.steckbriefBild {
    height: 240px;
    width: 210px;
}



.steckbriefPicture {
    float: left;
}

.steckbriefSpacer {
    float: left;
    width: 50px;
}

.steckbriefDaten {
    float: left;
}

.form-group{
    display: flex;
    flex-direction: column;
    
}

.active.tab{
    background-color: white;
    color: black;
}

.btn{
    position: relative;
    left: 38em;
    border-radius: 5px;
}


